---
import '../styles/global.css';
import { Footer } from '@/components/common/footer';
import { Header } from '@/components/common/header';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="m-0 font-sans text-[18px] leading-[1.45] bg-gradient-to-br from-slate-900 via-slate-800 to-gray-900"
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
